:root {
  --font-stack: "Google Sans", "Open Sans", "Helvetica Neue", sans-serif;
  --blue: #1a73e8;
  --blue-dark-1: #1d65c3;
  --blue-dark-2: #174ea6;
}
body {
  color: #4a4a4a;
}

a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  color: var(--blue-dark-2);
}
a:focus,
a:active {
  background-color: rgba(32, 33, 36, 0.05);
  color: var(--blue-dark-2);
  outline: 4px solid rgba(32, 33, 36, 0.05);
  border-radius: 3px;
}

.link {
  color: #000;
  text-decoration: none;
  transition: color 0.1s ease-out;
}
.link:hover {
  color: var(--blue);
}

.btn {
  --btn-color: var(--blue);
  display: inline-block;
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
  padding: 12px 20px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  font-family: var(--font-stack);
  text-decoration: none;
}
.btn:hover {
  --btn-color: var(--blue-dark-1);
  color: #fff;
}
.btn:focus {
  background-color: var(--btn-color);
  color: #fff;
}

.small-text {
  font-size: 14px;
  letter-spacing: 1.5px;
  margin: 0;
  color: #4a4a4a;
  font-weight: 500;
}

.p {
  max-width: 54ch;
  line-height: 1.5;
}

.header {
  padding: 0.4rem 0;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  position: sticky;
  top: 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-gdg-logo {
  height: 25px;
  padding: 1rem 1rem 1rem 0rem;
}
.header-nav {
  display: flex;
}
.header-nav a:last-child {
  margin-right: 0;
}
.header-nav a:first-child {
  margin-left: 0;
}
.header-nav a {
  text-decoration: none;
  color: #6d6e70;
  padding: 0.4rem;
  margin: 0 0.1rem;
}
.header-nav a:hover {
  color: #0c0c0c;
}
.section {
  padding: 6rem 0 4rem;
}
.section:nth-child(2n) {
  background-color: #f9f9f9;
}
.section h1 {
  font-size: 36px;
  margin-top: 0.4rem;
  margin-bottom: 1.2rem;
}

.about {
  color: #4a4a4a;
}
.about > .container,
.about-organizer > .container {
  display: flex;
  align-items: center;
}
.about-image {
  max-width: 100%;
  padding-right: 2rem;
}
.about-image > img {
  width: 100%;
}
.about-content {
  flex: 1 0 50%;
}
.about h1 {
  font-size: 45px;
  margin-top: 0.4rem;
}
.about a.meetup-link {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.about-organizer > .container {
  flex-direction: column;
  align-items: flex-start;
}
.organizers-content {
  flex: 0 0 50%;
}
.organizers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 2rem 0.5rem;
  margin-top: 2rem;
}
.organizer {
  text-align: center;
}
.organizer .organizer-image {
  --organizer-image-size: 165px;
  width: var(--organizer-image-size);
  height: var(--organizer-image-size);
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.organizer-name,
.organizer-function {
  margin: 0;
}
.organizer-name {
  color: #000;
  font-size: 24px;
  margin-bottom: 0.2rem;
}

.links-block-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.links-block h5 {
  font-size: 18px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.links-list li {
  margin-bottom: 4px;
}
.links-list li a {
  color: #6e6e6e;
}
.links-list li a:hover {
  color: #4a4a4a;
}

@font-face {
  font-family: "Google Sans";
  font-weight: normal;
  font-display: fallback;
  src: local("Google Sans"), url("../assets/fonts/GoogleSans-Regular.ttf");
}
@font-face {
  font-family: "Google Sans";
  font-weight: 800;
  font-display: fallback;
  src: local("Google Sans"), url("../assets/fonts/GoogleSans-Bold.ttf");
}
