.btn-inv {
  background-color: white;
  color: var(--blue);
  border-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-inv:hover {
  background-color: var(--blue);
  color: white;
}

.sponsor-images {
  padding: 50px 0px;
  display: flex;
  justify-content: space-evenly;
}

.sponsor-images img {
  width: 150px;
  height: 100px;
}
